/**
 * DEBUG PANEL
 */

.debug-info {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  display: none;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  color: #0f0;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 5px;
}

.debug-info.visible {
  display: block;
}
