/**
 * CSS RESET & BASE STYLES
 */

* {
  box-sizing: border-box;
}

/* Кастомный шрифт */
@font-face {
  font-family: TolkienCyr;
  src: url("/fonts/tolkiencyr.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  scrollbar-gutter: stable;
  font-size: var(--reader-font-size);
  font-family: var(--reader-font-family);
  transition:
    font-size var(--timing-transition) ease-in-out,
    font-family var(--timing-transition) ease-in-out;
}

body {
  margin: 0;
  background-color: var(--bg-app);
  color: var(--text-main);
  line-height: 1.5;
  font-weight: 400;
  transition:
    background-color var(--timing-transition),
    color var(--timing-transition);
}

/* Отключаем выделение текста в книге */
.book {
  user-select: none;
  user-select: none;
}
